@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --font-clr: #393E46;
    --board-size: 0;
    --cell-font-clr: black;
    --cell-bg-clr: #798680;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#container {
    min-width: 10rem;
    background-color: #F2EBE9;
    text-align: center;  
    color: var(--font-clr);
    border-radius: 2rem;
    box-shadow: -0.4rem -0.4rem inset hsl(220, 7%, 9%); 
}

#container > h1 {
    font-size: 4rem;
    padding: 0.5rem;
}

#content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 48px;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 10px;
    
}

#content label {
    justify-self: start;
}

#content select, #content input {
    justify-self: center;
    margin-left: 4rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
}

#content select {
    font-weight: 600;
    font-size: 0.875rem;
}

#setup-btn {
    grid-column-start: 1;
    grid-column-end: span 2;
    place-self: center;
    width: 6rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 2rem;
    box-shadow: -0.1rem -0.1rem inset hsl(220, 7%, 9%);
    background-color: hsla(70, 38%, 49%, 0.9);
    border: 1px var(--font-clr) solid; 
}

#setup-btn:hover {
    background-color: hsla(70, 38%, 49%, 0.8);
}

@media only screen and (max-width: 600px) {
    #container {
        width: 100vh;
        height: 100vh;
        box-shadow: none;
        border-radius: 0;
    }

    #container h1 {
        margin-top: 2rem;
        font-size: 3rem;
    }

    #content {
        margin-top: 3rem;
        padding: 0.5rem;
        padding: 10px;
    }

    #content select, #content input {
        justify-self: center;
        margin-left: 4rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
    }

 
}

@media only screen and (max-height: 500px) {
   #container {
       width: 100vw;
       box-shadow: none;
       border-radius: 0;
   }
   
   #container h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
}

    #content {
        margin-top: -2rem;
    }
}

#board-title {
    display: none;
    font-size: 3rem;
    margin-bottom: -1.5rem;
}

#board {
    display: none;
    gap: 1em;
    margin: 4em;
    grid-template-columns: repeat(var(--board-size),1fr);
    grid-template-rows: repeat(var(--board-size),1fr);
   
}

#board p {
    display: grid;
    place-items: center;
    width: 10em;
    text-align: center;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    word-break: break-all;
    overflow-y: hidden;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 8em;
    padding: 1em;
    border-radius: 1.5em;
    box-shadow: 0 -0.4em inset hsl(220, 7%, 9%); 
    overflow-wrap: break-word;
    position: relative;
    color: var(--cell-font-clr);
    background-color: var(--cell-bg-clr);
}

.cell:hover {
    filter: brightness(110%);
}
/* hover na celle */

#saveBtn {
    display: none;
}

.marked.cell::after,.marked.cell::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0.75em;
    top: 50%;
    left: 50%;
    background-color: var(--font-clr);
    border-radius: 0.5em;
    
}

.marked.cell::after {
    transform: translate(-50%,-50%) rotate(45deg);
}

.marked.cell::before {
    transform: translate(-50%,-50%) rotate(-45deg);
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(29, 41, 49, 0.5);
    backdrop-filter: blur(0.125rem);
    display: flex;
    align-items: center;
    visibility: hidden;
}

.overlay-block {
    background-color: hsl(204, 26%, 10%);
    width: 100%;
    padding-block: 4rem;
    text-align: center;
}